<div class="container mt-5">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group mb-3 mt-4">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control p-2", placeholder: 'Email' %>
    </div>

    <div class="form-group mb-3 mt-4">
      <%= f.text_field :name, class: "form-control p-2", placeholder: 'Name' %>
    </div>

    <div class="form-group mb-3 mt-4">
      <%= f.text_field :bio, class: "form-control p-2", placeholder: 'Bio' %>
    </div>

    <div class="form-group mb-3 mt-4">
      <%= f.text_field :photo, class: "form-control p-2", placeholder: 'Photo' %>
    </div>

    <div class="form-group mb-3 mt-4">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control p-2", placeholder: 'Password (6 characters minimum)' %>
    </div>

    <div class="form-group mb-3 mt-4">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control p-2", placeholder: 'Confirm your password' %>
    </div>

    <div class="actions mb-3 mt-4">
      <%= f.submit "Sign up", class: "btn btn-success" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>