
<section class="">
  <%= render partial: 'shared/user', object: @user %>
  <div class='d-flex flex-column ms-2 ps-4 mt-5 pe-4 py-4 flex-grow-1 border border-2 shadow-sm'>
    <h2><%= t("bio")%></h2>
    <div><%= @user.bio %></div>
  </div>
</section>
<section>
  <div>
  <% @user_posts.each_with_index { |post_, index_| %>
    <%= render partial: 'shared/post', locals:{post: post_, index: index_ , index_view: true, show_comment: false} %>
  <% } %>
  </div>
  <% if author_posts_more_than?(@user) then %>
    <div class='text-center mt-3'>
      <%= link_to t("see_all"), author_posts_path(:author_id=>@user.id), class:'btn btn-secondary' %>
    </div>
  <% end %>
</section>