<div class="center flex-column m-3">
  <h1 class="text-center"> All Posts </h1>
  <%= render partial: "shared/user", locals: {user: @user}%>
  <div class="d-flex flex-column w-50 w-100-mobile">
    <% if @user.posts.empty? %>
      <div class="text-center mt-5 fw-bolder">
        <%= image_tag("icons8-no-entry-48.png") %>
        <p class="lead text-center">No posts yet!</p>
      </div>
    <% else %>
      <% @user.posts.includes(:comments).each do |post| %>
        <div class="d-flex flex-column bg-light p-2 border mb-3 border-secondary border-2">
          <div class="d-flex align-items-center">
            <h5 class="me-auto"><%= link_to post.title, user_post_path(id: post.id), class: "no-style" %></h5>
          </div>
          <p><%= post.text %></p>
          <p class="small align-self-end">
            Comments
            <span class="badge bg-primary">
              <%= post.comments_counter %>
            </span>
            Likes
            <span class="badge bg-primary">
              <%= post.likes_counter %>
            </span>
          </p>
          <div class="d-flex flex-column p-2">
            <h6 class="fw-bolder">Recent comments</h6>
            <ul class="group-item">
              <% if post.comments.empty? %>
                <div class="fw-bolder">
                  <li class="list-group-item">No comments yet.</li>
                </div>
              <% else %>
                <% post.recent_comments.includes(:author).each do |comment| %>
                <div class="">
                  <li class="list-group-item border border-secondary border-2 p-2">
                    <span class="lead">
                      <h4 class="fw-bolder"><%= comment.author.name %></h4>:
                    </span>
                  <%= comment.text %>
                  </li>
                </div>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="btn btn-primary">
    Pagination
  </div>
</div>