<div class="container">
  <section class="d-flex m-4 justify-content-between mt-4">
    <article class="border border-secondary border-3 p-5">
      <%= image_tag("") %>
    </article>
    <article class="border border-secondary border-3 p-3 w-50">
      <h2> <%= @user.name %> </h2>
      <p> Number of posts: <%= @user.post_counter || 0 %> </p>
    </article>
  </section>

  <div>
    <%= link_to "Create new post", new_user_post_path %>
  <div>

<% @user.posts.each do |post| %>
  <section class="border border-secondary border-3 rounded mt-3 p-2">
    <div>
      <%= link_to user_posts_path(post) do %>
        <h4> <%= post.title %> </h4>
      <% end %>

      <p> <%= post.text %> </p>

      <div>
        <span class="d-flex justify-content-end fw-semibold text-secondary"> Comments: <%= post.comments_counter || 0 %>, Likes: <%= post.likes_counter || 0 %> </span>
      </div>
    </div>

    <div>
      <% if post.five_most_recent_comments.length > 0 %>
        <div>
          <% post.five_most_recent_comments.each do |comment| %>
            <p><%= comment.user.name %> : <%= comment.text %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
  
  <div class="d-flex fixed-bottom justify-content-center mb-4">
    <button type="submit" class="btn btn-primary p-2 fs-7"> Pagination </button>
  </div>
</div>