<div class="container mt-5">
  <section>
    <article class="border border-secondary border-3 p-4">
      <div class="d-flex align-items-center justify-content-between">
        <h4 class="fs-5"> <%= @post.title %> by <%= @user.name %> </h4>

        <p class="fs-5 text-secondary"> Comments : <span class="fw-bolder"><%= @post.comments.size %></span> Likes : <span class="fw-bolder"><%= @post.likes.size %></span></p>
      </div>

      <div class="mt-3">
        <p> <%= @post.text %> </p>
      </div>
    </article>

    <article>
      <div>
        <% @post.five_most_recent_comments.each do |comment| %>
        <div>
          <li> <%= comment.users.name %>: <%= comment.text %> </li>
        </div>
        <% end %>
      </div>
    </article>
  </section>
</div>